.custom_login{
    background-color: #F63E7B;
    border: none;
    border-radius: 8px;
    width: 100px;
    padding: 8px 10px;
    color: white !important;
    text-align: center;
}

ul li{
    margin: 0px 10px;
}

.logo img{
    width: 150px;
}

.custom_logout{
    background-color: #F63E7B;
    border: none;
    border-radius: 8px;
    width: 100px;
    padding: 8px 10px;
    color: white !important;
    text-align: center;
}