.services{
    width: 300px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    align-items: center;
}

.card_link{
    text-decoration: none !important;
    color: #000;
}

.card_link:hover{
    text-decoration: none;
    color: #000;
}
.services:hover{
    border-radius: 8px;
    border: none;
    background-color: #fff8f5;
    transition: box-shadow 1s;
    box-shadow: 0px 0px 5px 0px rgb(66, 66, 66) ;
}

.services img{
    width: 100px;
}

.services h5{
    font-weight: 600;
}

.services > .price{
    color: #F63E7B;
    font-weight: 600;
}

.services > .description{
    color: rgb(155, 150, 150);
}