.data_area{
    padding: 30px;
    margin: 0;
    background-color: #f4f7fc;
    width: 105%;
}

.sidebar_main{
    
    width: 100vw;
    /* height: 100vh; */
}

.head_area{
    padding: 5px 10px;
}

.text_field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}

.text_field input,
.text_field textarea{
    outline: none;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    /* padding: 0 18px 0 48px; */
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

.message_div{
    position: relative;
}

.message_div textarea{
    border: #bfbfbf;
    height: 100px;
}

form .text_field input::placeholder,
form .message_div textarea::placeholder{
    font-size: 14px;
}

.custome_btn_btn{
    margin-top: 70px;
    background-color: #F63E7B;
    width: 150px;
    border: none;
    font-size: 14px;
    border-radius:5px;
    padding: 10px 15px;
    color: #fff;
}