.form_container{
    width: 100%;
    height: 90vh;
    background-color: #fff8f5 ;
}


.heading_text{
    padding: 20px 30px;
    font-size: 22px;
    font-weight: 600;
    
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_ui{
    width: 520px;
    /* background: #fff; */
    border-radius: 5px;
}

.form_ui form {
    margin: 35px 30px;
}

form .dbl-field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea{
   outline: none;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 0 18px 0 48px;
    border-radius: 5px;
    border: none;
}

.form_ui form i{
    color: #bfbfbf;
    position: absolute;
    left: 18px;
    top: 50%;
    font-size: 14px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input:focus,
form .message textarea:focus{
    border: 1px solid #F63E7B;
    outline: none;
}

form .field input::placeholder,
form .message textarea::placeholder{
    color: #bfbfbf;
    font-size: 14px;
}

form .message{
    position: relative;
}

form .message i{
    top: 30px;
    font-size: 20px;
}

form .message textarea{
    border: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 150px; 
    padding: 15px 20px 0 48px;
}

.custome_btn{
    border: none;
    border-radius:5px;
    padding: 10px 15px;
    background-color:#F63E7B ;
    color: #fff;
}

.button-area button:focus{
    border: none;
    outline: none;
}

